
		<br>

		<input type="button" value="Add New" class="padding10" onclick="window.location.href = '/admin/departments/new';">

		<table class= "table">
				<tr>
					<th>Id
					<th>Name
					<th>Edit
					<th>Delete
				</tr>	
			<% @departments.each do |c| %>
				<tr><td><%= c.id %>
					<td><%= c.name %>
					<td><%= link_to image_tag("/assets/edit.png"), edit_admin_department_path(c) , :method => :get %>
					<td><%= link_to image_tag("/assets/delete.png"), admin_department_path(c), :method => :delete, :class =>"delete_#{c.id}", :remote => :true, :confirm => 'Are you sure?' %>
				</tr>
			<% end %>
		</table>