<footer class="footer">
	<small> <%= link_to "Definelabs", root_path %> by Definelabs
	</small>
	<nav>
		<ul>
			<li> <%= link_to "Dashboard", '#' %> </li>
			<li> <%= link_to "Users", '#' %> </li>
			<li> <%= link_to "Venues", '#' %> </li>
		</ul>
	</nav>
</footer>