<header class="">
	<div class="container">
		<div class="bs-docs-grid">
			<div class="row show-grid">
				<a href='/admin/grs'><div class="span2 menu">GRs</div></a>
				<a href='/admin/departments'><div class="span2 menu">Departments</div></a>
				<a href='/logout'><div class="span2 menu">Sign out</div></a>
			</div>
		</div>
	</div>
</header>
