<header class="">
	<div style="margin-left: 30px; margin-right: 30px;">
		<div class="bs-docs-grid">
			<div class="row show-grid">
				<a href='/admin/grs'><div class="span2 menu">GRs</div></a>
				<a href='/admin/departments'><div class="span2 menu">Departments</div></a>
				<a href='/logout' style="float: right;"><div class="span2 menu">Sign out</div></a>
			</div>
		</div>
	</div>
</header>
